{% extends "base.html" %}
{% load static %}

{% block title %}
pagination
{% endblock title %}


{% block body %}
<section id="pagination" class="pagination py-5">
  {% if items_page %}
  <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for service in items_page %}
      <div class="col-lg-3 col-md-4 col-sm-15">
        <div class="card h-100">
          <img src="{{ service.img.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ service.title }}</h5>
            <p class="card-text">{{ service.description|slice:":100" }}</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col text-center">
        <p>Page: {{ items_page.number }}/{{items_page.paginator.num_pages}}</p>
        {% if items_page.has_other_pages %}
        <div class="btn-group" role="group" aria-label="Item pagination">
          {% if items_page.has_previous %}
          <a href="?page={{ items_page.previous_page_number }}" class="btn btn-outline-primary">Previous</a>
          {% endif %}

          {% for page_number in items_page.paginator.page_range %}
          {% if items_page.number == page_number %}
          <button class="btn btn-outline-primary active">
            <span>{{ page_number }} <span class="sr-only"></span></span>
          </button>
          {% else %}
          <a href="?page={{ page_number }}" class="btn btn-outline-primary">
            {{ page_number }}
          </a>
          {% endif %}
          {% endfor %}

          {% if items_page.has_next %}
          <a href="?page={{ items_page.next_page_number }}" class="btn btn-outline-primary">Next</a>
          {% endif %}
        </div>
        {% endif %}
        {% else %}
        <p>No items found.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock body %}